@using System.IO
@inject IFileReaderService fileReaderService
@using Blazor.FileReader

<div>
    <label>@Label</label>
    <div>
        <input type="file" @ref="inputElement" @onchange="FileSelected" accept=".jpg,.jpeg,.png,.pdf,.doc,.docx,.odt" />
    </div>
</div>
<div>
    @if (imgSrc != null)
    {
        <hr />
        <div>
            <div style="margin:10px">
                <img src="@imgSrc" style="width: 400px;" />
            </div>
        </div>
        <hr />
    }
    else
    {
        <p>...</p>
    }    
</div>

@code {
    [Parameter] public string Label { get; set; } = "Image";
    [Parameter] public EventCallback<KntFileInfo> OnSelectedFile { get; set; }
    [Parameter] public string ContentBase64 { get; set; }

    private string imgSrc;
    private ElementReference inputElement;

    private KntFileInfo fileSelected;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(ContentBase64))
        {
            imgSrc = "data:image/jpeg;base64, " + ContentBase64;
        }
        base.OnInitialized();
    }

    async Task FileSelected()
    {
        foreach (var file in await fileReaderService.CreateReference(inputElement).EnumerateFilesAsync())
        {
            using (MemoryStream memoryStream = await file.CreateMemoryStreamAsync(4 * 1024))
            {                
                var imageBytes = new byte[memoryStream.Length];
                memoryStream.Read(imageBytes, 0, (int)memoryStream.Length);
                ContentBase64 = Convert.ToBase64String(imageBytes);
                var fileInfo = await file.ReadFileInfoAsync();
                fileSelected = new KntFileInfo
                {
                    Name = fileInfo.Name,
                    Type = fileInfo.Type,
                    Size = fileInfo.Size,
                    LastModifiedDate = fileInfo.LastModifiedDate,
                    ContentBase64 = ContentBase64
                };

                if (fileSelected.Type == "image/jpeg")
                    imgSrc = "data:image/jpeg;base64, " + ContentBase64;                                
                else if (fileSelected.Type == "application/pdf")
                    imgSrc = @"https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg";
                else
                    imgSrc = null;

                await OnSelectedFile.InvokeAsync(fileSelected);
                StateHasChanged();
            }
        }
    }
}
