@inherits LayoutComponentBase

<CascadingValue Value="appState">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LinksLogin />
            @*<ToolingHeader Title="KNote home">
                <Buttons>
                    <LinksLogin />
                </Buttons>
            </ToolingHeader>*@            
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</CascadingValue>

@code {
    private AppState appState = new AppState();

}
