<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">KNote</a>
    <button class="navbar-toggler" @onclick="() => ToggleNavMenu(true)">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="() => ToggleNavMenu(false)">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <!-- TODO: !!! pendiente de eliminar -->
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="notes/new">
                <span class="oi oi-document" aria-hidden="true"></span> New note
            </NavLink>
        </li>*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="notes/search">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Quick search
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="notes/tree">
                <span class="oi oi-caret-right" aria-hidden="true"></span> Tree panel
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="notes/filter">
                <span class="oi oi-pin" aria-hidden="true"></span> Notes filter
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="notes/chat">
                <span class="oi oi-rss" aria-hidden="true"></span> Chat room
            </NavLink>
        </li>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Admin
                    </NavLink>
                </li>

                <!-- Basura -->
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="separator">
                        <span class="oi oi-ellipses" aria-hidden="true"></span> -----
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="testpage1">
                        <span class="oi oi-plus" aria-hidden="true"></span> Test page 1
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="testpage2">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Test page 2
                    </NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="notes/searchOld">
                        <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search old
                    </NavLink>
                </li>
                <!-- /Basura -->

            </Authorized>
        </AuthorizeView>


        @if (showUserOptions)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="register">
                    <span class="oi oi-wrench" aria-hidden="true"></span> Register
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-wrench" aria-hidden="true"></span> Login
                </NavLink>
            </li>
        }

        @*<li class="nav-item px-3">
            <select @bind="@appState.AppMode" class="form-control" style="margin-top: 15px">
                <option value="Task">Task</option>
                <option value="Blog">Blog</option>
                <option value="Wiki">Wiki</option>
            </select>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool showUserOptions = false;
       
    [CascadingParameter] public AppState appState { get; set; }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu(bool res)
    {
        collapseNavMenu = !collapseNavMenu;
        showUserOptions = res;
    }


    #region  AppState changed subscription 

    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }

    #endregion 

}
