@inject IJSRuntime js

<div>    
    <EntityList List="Notes">
        <Items Context="note">
            <NoteItem Note="note" OnNoteDelete="DeleteNote" />
        </Items>
    </EntityList>    
</div>

@code {

    [Parameter] public List<NoteInfoDto> Notes { get; set; }

    async Task DeleteNote(NoteInfoDto note)
    {
        var confirm = await js.Confirm("Delete note?");
        if (confirm)
        {
            Notes.Remove(note);
            Console.WriteLine($"Deleted note: {note.NoteNumber} -");
        }
    }

}
