<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true"
	  internalLogLevel="Info"
	  internalLogFile="Log/NLogKNote.log">
	
	<targets>
		<target xsi:type="File" name="allLogs" fileName="Log/all.log" />
		<target xsi:type="File" name="relevantLogs" fileName="Log/relevant.log" />	 
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allLogs" />
		<logger name="*" minlevel="Warn" writeTo="relevantLogs" />		
	</rules>

</nlog>
