<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true"
	  internalLogLevel="Info"
	  internalLogFile="${specialfolder:folder=LocalApplicationData}/KNote/Log/NLogKNote.log">

	<targets>
		<target xsi:type="File" name="allLogs" fileName="${specialfolder:folder=LocalApplicationData}/KNote/Log/all.log" />
		<target xsi:type="File" name="relevantLogs" fileName="${specialfolder:folder=LocalApplicationData}/KNote/Log/relevant.log" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="allLogs" />
		<logger name="*" minlevel="Error" writeTo="relevantLogs" />		
	</rules>

</nlog>
