@page "/folders"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManger
@inject IShowMessages showMessages

<h3>Folders Index</h3>

<div class="form-group">
    <a class="btn btn-info" href="folders/new">New folder</a>
</div>

<hr />

@if (foldersTree == null)
{
    <p><em>Loading tree folders ...</em></p>
}
else
{
    <KntFoldersTreeView FoldersInfo="foldersTree" FolderSelected="OnFolderSelected" />
}

@code {
    List<FolderInfoDto> foldersTree;
    FolderInfoDto folder;

    protected override async Task OnInitializedAsync()
    {
        var res = await dataService.Get<Result<List<FolderInfoDto>>>("api/folders/gettree");
        foldersTree = res.Response.Entity;

        if (foldersTree?.Count > 0)
        {
            var f = foldersTree.Select(x => x).FirstOrDefault();
            f.Selected = true;     
            OnFolderSelected(f);
        }
    }

    private void OnFolderSelected(FolderInfoDto f)
    {
        folder = f;
    }

}
