@page "/folders/edit/{FolderId}"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManger
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Admin, ProjecManager")]

<h3>Folder edit</h3>
<hr />

@if (folder != null)
{
    <p>@folder.FolderId</p>
    <FolderForm OnValidSubmit="Edit" Folder="folder" />
}
else
{
    <text>Loading ... </text>
}

@code {
    [Parameter] public string FolderId { get; set; }

    private FolderDto folder;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await dataService.Get<Result<FolderDto>>($"api/folders/{FolderId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
            navigationManger.NavigateTo("folders");
        }
        else
        {
            folder = httpResponse.Response.Entity;

            Console.WriteLine($"Folder loaded!! {folder.FolderId }");
        }

        base.OnInitialized();
    }

    private async Task Edit()
    {
        Console.WriteLine("Edit folder");

        var httpResponse = await dataService.Put("api/folders", folder);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            //Console.WriteLine("User created !!");
            //await showMessages.ShowOkMessage("User saved!");
            navigationManger.NavigateTo("folders");
        }
    }

}
