@page "/folders"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManger
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]

<h3>Folders Index</h3>

<div class="form-group">
    <a class="btn btn-info" href="folders/new">New folder</a>
</div>

<hr />

@if (foldersTree == null)
{
    <p><em>Loading tree folders ...</em></p>
}
else
{
    <KntFoldersTreeView FoldersInfo="foldersTree"
                        EditMode="true"
                        FolderSelected="OnFolderSelected"
                        FolderEdit="OnFolderEdit"
                        FolderDelete="OnFolderDelete" />
}

<ModalDialog @ref="modalDialog" Title="Delete folder" onConfirm="OnConfirmDelete" onCancel="OnCancelDelete">
    <div><p>Are you sure you want to delete folder "@itemDelete.Name" ?</p></div>
</ModalDialog>

@code {
    private List<FolderInfoDto> foldersTree;
    private FolderInfoDto folder;
    private ModalDialog modalDialog;
    private FolderInfoDto itemDelete;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        folder = null;
        var res = await dataService.Get<Result<List<FolderInfoDto>>>("api/folders/gettree");
        foldersTree = res.Response.Entity;

        if (foldersTree?.Count > 0)
        {
            var f = foldersTree.Select(x => x).FirstOrDefault();
            f.Selected = true;
            OnFolderSelected(f);
        }
    }


    private void OnFolderSelected(FolderInfoDto f)
    {
        folder = f;
    }

    private void OnFolderDelete(FolderInfoDto folder)
    {
        modalDialog.Show();
        itemDelete = folder;
    }

    private async Task OnConfirmDelete()
    {
        modalDialog.Hide();

        var httpResponse = await dataService.Delete($"api/folders/{itemDelete.FolderId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            foldersTree = null;
            await Load();
        }

        itemDelete = null;
    }

    private void OnCancelDelete()
    {
        modalDialog.Hide();
        itemDelete = null;
    }

    private void OnFolderEdit(FolderInfoDto folder)
    {
        navigationManger.NavigateTo($"folders/edit/{folder.FolderId}");
    }

}
