@page "/notes/search"
@page "/search"

@inject IWebApiService webApiService
@inject NavigationManager navigationManager
@inject HttpClient Http
@inject TooltipService tooltipService
@inject DialogService dialogService
@inject NotificationService notificationService

@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]

<div class="container-fluid border">
    <div class="row">
        <KntIndexHeader TextHead="Notes search">
            <IndexMenu>
                <RadzenMenu>
                    <RadzenMenuItem Text="New note" Icon="post_add"  Click="OnNew"></RadzenMenuItem>
                    <RadzenMenuItem Text="Display options" Icon="tune">
                        @if (viewMode == 0)
                        {                                 
                            <RadzenMenuItem Text="Item view" Click="ToggleView"></RadzenMenuItem>                                        
                        }
                        else
                        {                                    
                            <RadzenMenuItem Text="Table view" Click="ToggleView"></RadzenMenuItem>                        
                        }            
                    </RadzenMenuItem>
                </RadzenMenu>
            </IndexMenu>
        </KntIndexHeader>
    </div>
</div>

<!--- Move this to new component -->
<div class="row pt-2">
    <div class="col-10 mb-2">
        <input type="text" class="form-control" @bind-value="textSearch" @bind-value:event="oninput"
               @onkeypress="@((KeyboardEventArgs e) => TopicKeyPress(e))"
               placeholder="Text search  ..." />
    </div>
    <div class="col-2 mb-2">
        <RadzenButton Text="Search" Icon="search" Click="() => OnLoadListNotes()" ButtonStyle="ButtonStyle.Primary" Class="mr-1" /> 
    </div>
</div>

<div class="row">
    <div class="col-12">
        <RadzenPager @ref="pager" ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" 
                        HorizontalAlign="HorizontalAlign.Right" 
                        Count="@((int)paginationContext.TotalCount)" 
                        PageSize="@paginationContext.PageSize" PageNumbersCount="5" 
                        PageChanged=@PageChanged />
    </div>
</div>

<div class="row">
    <div class="col-12">
        @if (viewMode == 0)
        {
            <NotesIndex Notes="notes" OnNoteDelete="OnDelete" OnNoteEdit="OnEdit" OnNoteView="OnView"></NotesIndex>
        }
        else
        {
            <NotesList Notes="notes" OnNoteDelete="OnDelete" OnNoteEdit="OnEdit" OnNoteView="OnView" />
        }
    </div>
</div>


@code {
    private List<NoteInfoDto> notes;        
    private int viewMode = 0;
    private string textSearch = "";
    private Dictionary<string, string> queryStringsDict = new Dictionary<string, string>();
    private PaginationContext paginationContext = new PaginationContext();
    private string pagingSummaryFormat = "Displaying page {0} of {1} (total {2} records)";
    private RadzenPager pager;
    private bool componentInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        var url = navigationManager.Uri;
        var queries = navigationManager.GetQueryStrings(url);

        if (queries == null)
        {
            await GetFilteredNotes(string.Empty);
        }
        else
        {
            queryStringsDict = queries;
            LoadFormControls();
            var queryStrings = url.Split(new string[] { "?" }, StringSplitOptions.None)[1];
            await GetFilteredNotes(queryStrings);
        }
        componentInitialized = true;
    }

    #region Utils

    private void ToggleView()
    {
        viewMode = (viewMode == 0) ? 1 : 0;
    }

    private void LoadFormControls()
    {
        if (queryStringsDict.ContainsKey("textSearch"))
        {
            textSearch = queryStringsDict["textSearch"];
        }

        if (queryStringsDict.ContainsKey("paginationContext.PageIdentifier.PageNumber"))
        {
            int currentPage;
            int.TryParse(queryStringsDict["pageNumber"], out currentPage);
            paginationContext.CurrentPage = currentPage;
        }
    }

    private string BuildQueryStrings()
    {
        if (queryStringsDict == null) { queryStringsDict = new Dictionary<string, string>(); }
        queryStringsDict["textSearch"] = textSearch?.ToString();
        queryStringsDict["pageNumber"] = paginationContext.CurrentPage.ToString();
        queryStringsDict["pageSize"] = paginationContext.PageSize.ToString();


        var defaultValues = new List<string>() { "false", "", "0" };

        var strReturn = string.Join("&", queryStringsDict
            .Where(x => !defaultValues.Contains(x.Value.ToLower()))
            .Select(x => $"{x.Key}={System.Web.HttpUtility.UrlEncode(x.Value)}").ToArray());

        return strReturn;
    }

    #endregion

    #region Navigation events

    private async Task OnLoadListNotes()
    {
        paginationContext.CurrentPage = 1;
        if(componentInitialized)
            await pager.GoToPage(0);        
        await LoadListNotes();
    }

    private async Task TopicKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await LoadListNotes();
        }
    }

    private async Task PageChanged(PagerEventArgs args)
    {
        await OnSelectedPage(args.PageIndex + 1);                
    }

    private async Task OnSelectedPage(int page)
    {
        paginationContext.CurrentPage = page;
        await LoadListNotes();
    }

    #endregion

    #region Load data ....

    private async Task LoadListNotes()
    {
        var queryStrings = BuildQueryStrings();
        navigationManager.NavigateTo("notes/search?" + queryStrings);
        await GetFilteredNotes(queryStrings);
    }

    private async Task GetFilteredNotes(string queryString)
    {
        notes = null;

        if (string.IsNullOrEmpty(queryString))
            queryString = $"pageNumber={paginationContext.CurrentPage}&pageSize={paginationContext.PageSize}";

        var result = await webApiService.Notes.GetSearch(queryString);

        if (!result.IsValid)
        {
            notificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Load notes ...", Detail =  result.Message, Duration = 12000 });            
        }
        else
        {
            notes = result.Entity;
            paginationContext.TotalCount = result.TotalCount;
        }
    }

    #endregion

    #region  Edit / Delete events ...

    private void OnView(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/{note.NoteId}/search");
    }

    void OnNew()
    {
        navigationManager.NavigateTo($"notes/new/search");
    }

    private void OnEdit(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/edit/{note.NoteId}/search");
    }

    async Task OnDelete(NoteInfoDto item)
    {                
        var resultDialog = await dialogService.Confirm(
            $"Are you sure you want delete note - {@item.Topic} - ({@item.NoteNumber})?", 
            "Delete note", 
            new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });

        if (resultDialog == true)
        {
            var result = await webApiService.Notes.DeleteAsync(item.NoteId);
            if (!result.IsValid)            
                notificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Delete note.", Detail =  result.Message, Duration = 12000 });            
            else
            {
                notificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Delete note.", Detail =  "The note has been deleted.", Duration = 3000 });
                await LoadListNotes();
            }            
        }
    }

    #endregion
}
