@page "/notes/tree"
@page "/tree"

@implements IDisposable

@inject IStore store
@inject TooltipService tooltipService
@inject DialogService dialogService

@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]

<div class="col-lg-12 border">
    <div class="row">
        <div class="col-6">                    
            @if(folder != null)
            {
                <h4 class="mt-2"><span class="oi oi-folder pr-2"></span> @folder.Name</h4>
            }
            else
            {
                <h4 class="mt-2">( No folder selected )</h4>
            }                    
        </div>
        <div class="col-6 pr-0">
            <span class="float-right">
                <RadzenMenu>
                    <RadzenMenuItem Text="New note" Icon="post_add"  Click="OnNew"></RadzenMenuItem>
                    <RadzenMenuItem Text="Refresh tree" Icon="refresh"  Click="RefreshTreeFolders" ></RadzenMenuItem>
                </RadzenMenu>
            </span>
        </div>
    </div>        
</div>

<RadzenCard class="docu pt-1 pl-0 pr-1 pb-0 mt-2">
    <div class="col-lg-12">    
        <div class="row">
            <RadzenSplitter>
                <RadzenSplitterPane Size="25%" Min="200px" Max="45%">            
                    <KntFoldersTreeView  FoldersInfo="foldersTree" FolderSelected="FolderSelected"  /> @* ShowRefreshTree="false"  RefreshTreeFolders="OnRefreshTreeFolders"*@
                </RadzenSplitterPane>
                <RadzenSplitterPane>                            
                    <RadzenPager Density="Density.Compact" @ref="pager" ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat"
                                 HorizontalAlign="HorizontalAlign.Right" 
                                Count="@((int)paginationContext.TotalCount)" 
                                PageSize="@paginationContext.PageSize" PageNumbersCount="5" 
                                PageChanged=@PageChanged/>

                    @if (folder == null)
                    {
                        <h5>  </h5>
                    }
                    else
                    {
                        <NotesIndex Notes="notes" OnNoteDelete="OnDelete" OnNoteEdit="OnEdit" OnNoteView="OnView"></NotesIndex>
                    }           
                </RadzenSplitterPane>
            </RadzenSplitter>
        </div>
    </div>
</RadzenCard>


@code {
    private List<FolderDto>? foldersTree;
    private List<NoteMinimalDto>? notes;
    private FolderDto? folder;
    private NotesFilterDto filter = new NotesFilterDto();
    private PaginationContext paginationContext = new PaginationContext();
    private RadzenPager pager;
    private string pagingSummaryFormat = "Displaying page {0} of {1} (total {2} records)";    
    private bool componentInitialized = false;
    private AppState appState = null!;

    protected override async Task OnInitializedAsync()
    {
        appState = store.AppState;
        appState.OnChange += StateHasChanged;
        await Load();
        componentInitialized = true;
    }

    private async Task Load()
    {
        if (appState.FoldersTree == null)
        {
            var result = await store.Folders.GetTreeAsync();
            if (result.IsValid)
                foldersTree = result.Entity;
            else
                foldersTree = new List<FolderDto>();

            appState.FoldersTree = foldersTree;

            if (foldersTree?.Count > 0)
            {
                var f = foldersTree.Select(x => x).FirstOrDefault();
                if (f != null)
                {
                    f.Selected = true;
                    await FolderSelected(f);
                }
            }
        }
        else
        {
            foldersTree = appState.FoldersTree;            
        }
    }

    public void Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }

    private async Task FolderSelected(FolderDto f)
    {
        folder = f;
        appState.SelectedFolder = folder.GetSimpleDto<FolderDto>();

        paginationContext.CurrentPage = 1;
        if(componentInitialized)
            await pager.GoToPage(0);

        await SelectedPage(1);
    }

    private async Task PageChanged(PagerEventArgs args)
    {
        await SelectedPage(args.PageIndex + 1);                
    }

    private async Task SelectedPage(int page)
    {
        paginationContext.CurrentPage = page;
        await LoadNotesWithPagination();
    }

    private async Task LoadNotesWithPagination()
    {
        notes = null;        

        filter.FolderId = folder?.FolderId;
        filter.PageIdentifier = paginationContext.PageIdentifier;

        var result = await store.Notes.GetFilter(filter);
        if (result.IsValid)
        {
            notes = result.Entity;
            paginationContext.TotalCount = result.TotalCount;
        }

        StateHasChanged();
    }

    void OnNew()
    {
        store.NavigateTo($"notes/new/tree");
    }

    void OnView(NoteMinimalDto note)
    {
        store.NavigateTo($"notes/{note.NoteId}/tree");
    }

    void OnEdit(NoteMinimalDto note)
    {
        store.NavigateTo($"notes/edit/{note.NoteId}/tree");
    }

    async Task OnDelete(NoteMinimalDto item)
    {                
        var resultDialog = await dialogService.Confirm(
            $"Are you sure you want delete note - {@item.Topic} - ({@item.NoteNumber})?", 
            "Delete note", 
            new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });

        if (resultDialog == true)
        {
            var result = await store.Notes.DeleteAsync(item.NoteId);
            if (result.IsValid)
            {
                await LoadNotesWithPagination();
            }
        }
    }

    private async Task RefreshTreeFolders()
    {
        foldersTree = null;
        notes = null;
        appState.FoldersTree = null;
        await Load();
    }
    
}
