@page "/notes/search"
@page "/search"

@inject IWebApiService webApiService
@inject NavigationManager navigationManager
@inject IShowMessages showMessages
@inject HttpClient Http

@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h3>Notes search</h3>
        </div>
        <div class="col-6 float-right">
            <button class="btn btn-sm btn-warning float-right"
                    @onclick="GoNoteNew"
                    data-toggle="tooltip" title="New note">
                <i class="oi oi-document"></i> New note
            </button>
        </div>
    </div>
</div>

<hr class="mt-0" />

<div class="form-group row">
    <div class="input-group col-sm-11 mb-2" id="atrText">
        <input type="text" class="form-control" @bind-value="textSearch" @bind-value:event="oninput"
               @onkeypress="@((KeyboardEventArgs e) => TopicKeyPress(e))"
               placeholder="Text search  ..." />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" @onclick="@CleanOnClick"
                    data-toggle="tooltip" title="Clean search">
                X
            </button>
        </div>
    </div>

    <div class="col-1 float-left">
        <button type="button" class="btn btn-primary mb-2 mx-sm-3" @onclick="OnLoadListNotes"
                data-toggle="tooltip" title="Apply search">
            <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
        </button>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-9">
        <Pagination CurrentPage="paginationContext.CurrentPage" SelectedPage="OnSelectedPage"
                    TotalPages="paginationContext.TotalPages"></Pagination>
    </div>
    <div class="col-3">
        @if (notes != null && notes.Count > 0)
        {
            <span class="float-right mt-1">
                @if (viewMode == 0)
                {
                    <button class="btn btn-sm btn-dark mx-1"
                            @onclick="ToggleView"
                            data-toggle="tooltip" title="Item mode view">
                        <i class="fa fa-file-text-o"></i>
                    </button>
                }
                else
                {
                    <button class="btn btn-sm btn-dark mx-1"
                            @onclick="ToggleView"
                            data-toggle="tooltip" title="Table mode view">
                        <i class="fa fa-table"></i>
                    </button>
                }
            </span>
        }
        else
        {
            <span>&nbsp;</span>
        }
    </div>
</div>

@if (viewMode == 0)
{
    <NotesIndex Notes="notes" OnNoteDelete="GoNoteDelete" OnNoteEdit="GoNoteEdit" OnNoteView="GoNoteView"></NotesIndex>
}
else
{
    <NotesList Notes="notes" OnNoteDelete="GoNoteDelete" OnNoteEdit="GoNoteEdit" OnNoteView="GoNoteView" />
}

<ModalDialog @ref="modalDialog" Title="Delete note" onConfirm="OnConfirmDelete" onCancel="OnCancelDelete">
    <div><p>Are you sure you want to delete note "@itemDelete.Topic (@itemDelete.NoteNumber)" ?</p></div>
</ModalDialog>


@code {    

    private List<NoteInfoDto> notes;

    private ModalDialog modalDialog;
    private NoteInfoDto itemDelete;

    private int viewMode = 0;

    private string textSearch = "";

    private Dictionary<string, string> queryStringsDict = new Dictionary<string, string>();

    PaginationContext paginationContext = new PaginationContext();

    protected override async Task OnInitializedAsync()
    {
        var url = navigationManager.Uri;
        var queries = navigationManager.GetQueryStrings(url);

        if (queries == null)
        {
            await GetFilteredNotes(string.Empty);
        }
        else
        {
            queryStringsDict = queries;
            LoadFormControls();
            var queryStrings = url.Split(new string[] { "?" }, StringSplitOptions.None)[1];
            await GetFilteredNotes(queryStrings);
        }
    }

    #region Utils

    private void ToggleView()
    {
        viewMode = (viewMode == 0) ? 1 : 0;
    }

    private void LoadFormControls()
    {
        if (queryStringsDict.ContainsKey("textSearch"))
        {
            textSearch = queryStringsDict["textSearch"];
        }

        if (queryStringsDict.ContainsKey("paginationContext.PageIdentifier.PageNumber"))
        {
            int currentPage;
            int.TryParse(queryStringsDict["pageNumber"], out currentPage);
            paginationContext.CurrentPage = currentPage;
        }
    }

    private string BuildQueryStrings()
    {
        if (queryStringsDict == null) { queryStringsDict = new Dictionary<string, string>(); }
        queryStringsDict["textSearch"] = textSearch?.ToString();
        queryStringsDict["pageNumber"] = paginationContext.CurrentPage.ToString();
        queryStringsDict["pageSize"] = paginationContext.PageSize.ToString();


        var defaultValues = new List<string>() { "false", "", "0" };

        var strReturn = string.Join("&", queryStringsDict
            .Where(x => !defaultValues.Contains(x.Value.ToLower()))
            .Select(x => $"{x.Key}={System.Web.HttpUtility.UrlEncode(x.Value)}").ToArray());

        return strReturn;
    }

    #endregion

    #region Navigation events

    private async Task OnLoadListNotes()
    {
        paginationContext.CurrentPage = 1;
        await LoadListNotes();
    }

    private async Task TopicKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await LoadListNotes();
        }
    }

    private async Task CleanOnClick()
    {
        textSearch = "";
        paginationContext.CurrentPage = 1;
        await LoadListNotes();
    }

    private async Task OnSelectedPage(int page)
    {
        paginationContext.CurrentPage = page;
        await LoadListNotes();
    }

    #endregion

    #region Load data ....

    private async Task LoadListNotes()
    {
        var queryStrings = BuildQueryStrings();
        navigationManager.NavigateTo("notes/search?" + queryStrings);
        await GetFilteredNotes(queryStrings);
    }

    private async Task GetFilteredNotes(string queryString)
    {
        notes = null;

        if (string.IsNullOrEmpty(queryString))
            queryString = $"pageNumber={paginationContext.CurrentPage}&pageSize={paginationContext.PageSize}";

        var result = await webApiService.Notes.GetSearch(queryString);

        if (!result.IsValid)
        {
            await showMessages.ShowErrorMessage(result.Message);
        }
        else
        {
            notes = result.Entity;
            paginationContext.TotalCount = result.TotalCount;
        }
    }

    #endregion

    #region  Edit / Delete events ...

    private void GoNoteView(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/{note.NoteId}/search");
    }

    void GoNoteNew()
    {
        navigationManager.NavigateTo($"notes/new/search");
    }

    private void GoNoteEdit(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/edit/{note.NoteId}/search");
    }

    private void GoNoteDelete(NoteInfoDto item)
    {
        modalDialog.Show();
        itemDelete = item;
    }

    private void OnCancelDelete()
    {
        modalDialog.Hide();
        itemDelete = null;
    }

    private async Task OnConfirmDelete()
    {
        modalDialog.Hide();

        var result = await webApiService.Notes.DeleteAsync(itemDelete.NoteId);
        if (!result.IsValid)
            await showMessages.ShowErrorMessage(result.Message);
        else
            await LoadListNotes();

        itemDelete = null;
    }

    #endregion

}
