@inject DialogService dialogService


<div class="overflow-auto" style="height:400px">

    <InputFileUpload OnSelectedFile="OnFileSelected" />

    <div class="form-group">
        <label>Description:</label>
        <input type="text" class="form-control" @bind="@resource.Description" />
    </div>
    <div class="form-group">
        <label>Order:</label>
        <input type="text" class="form-control" @bind="@resource.Order" />
    </div>

    @if (resourceFlowControl == null)
    {
        <p>Upload file .... </p>
    }
    else if (resourceFlowControl != "0")
    {
        <p></p>
    }

</div>

<hr class="mt-1" />

<div class="row">
    <div class="col-md-12 text-right">
        <RadzenButton Text="Ok" Click="() => OnConfirm()" ButtonStyle="ButtonStyle.Primary" Class="mr-1"  />  
        <RadzenButton Text="Cancel" Click="() => OnCancel()" ButtonStyle="ButtonStyle.Secondary" Class="mr-1" />                                       
    </div>
</div>

@code {
    private ResourceInfoDto resource = new ResourceInfoDto();
    private string? resourceFlowControl = "0";

    private void OnFileSelected(KntFileInfo file)
    {
        resourceFlowControl = null;

        resource.ContentBase64 = file.ContentBase64;
        resource.Name = file.Name;
        resource.Description = file.Name;
        resource.FileType = file.Type;        

        resourceFlowControl = "1";
    }

    private void OnConfirm()
    {
        dialogService.Close(resource);
    }

    private void OnCancel()
    {        
        dialogService.Close(null);
    }
}