@page "/notes/filter"
@page "/filter"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManager
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h3>Notes filter</h3>
        </div>
        <div class="col-6 float-right">
            <button class="btn btn-sm btn-warning mx-1 float-right"
                    @onclick="GoNoteNew"
                    data-toggle="tooltip" title="New note">
                <i class="oi oi-document"></i> New note                
            </button>
        </div>
    </div>
</div>
<hr class="mt-0" />

<div class="row">

    <div class="col-lg-12 pt-2 bg-light border">

        <div class="row">
            <div class="col-8">
                <h5>
                    <span class="oi oi-pin pr-3"></span>
                    @*New notes filter*@
                </h5>
            </div>
            <div class="col-4">
                @if (notes != null && notes.Count > 0)
                {
                    <span class="float-right">
                        @if (viewMode == 0)
                        {
                            <button class="btn btn-sm btn-dark mx-1 mb-2"
                                    @onclick="ToggleView"
                                    data-toggle="tooltip" title="Item mode view">
                                <i class="fa fa-file-text-o"></i>
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-dark mx-1 mb-2"
                                    @onclick="ToggleView"
                                    data-toggle="tooltip" title="Table mode view">
                                <i class="fa fa-table"></i>
                            </button>
                        }
                    </span>
                }
                else
                {
                    <span>&nbsp;</span>
                }
            </div>
        </div>
        
    </div>

    <div class="col-lg-3 pt-2 pb-2 bg-light border">        
        <NotesFilterCriteria FilterSelected="OnFilterSelected" />
    </div>

    <div class="col-lg-9 pt-2 pb-2 border">
        @if (notes != null && notes.Count > 0)
        {
            <Pagination CurrentPage="paginationContext.CurrentPage" SelectedPage="OnSelectedPage"
                        TotalPages="paginationContext.TotalPages"></Pagination>
        }

        @if (viewMode == 0)
        {
            <NotesIndex Notes="notes" OnNoteDelete="GoNoteDelete" OnNoteEdit="GoNoteEdit"  OnNoteView="GoNoteView"></NotesIndex>
        }
        else
        {
            <NotesList Notes="notes" OnNoteDelete="GoNoteDelete" OnNoteEdit="GoNoteEdit" OnNoteView="GoNoteView" />
        }
       
        @if (notes != null && notes.Count > 15)
        {
            <Pagination CurrentPage="paginationContext.CurrentPage" SelectedPage="OnSelectedPage"
                        TotalPages="paginationContext.TotalPages"></Pagination>
        }
    </div>
</div>

<ModalDialog @ref="modalDialog" Title="Delete note" onConfirm="OnConfirmDelete" onCancel="OnCancelDelete">
    <div><p>Are you sure you want to delete note "@itemDelete.Topic (@itemDelete.NoteNumber)" ?</p></div>
</ModalDialog>

@code {    
    private ModalDialog modalDialog;
    private NoteInfoDto itemDelete;

    private int viewMode = 0;

    List<NoteInfoDto> notes = new List<NoteInfoDto>();

    private NotesFilterDto filter = new NotesFilterDto();

    PaginationContext paginationContext = new PaginationContext();

    protected override async Task OnInitializedAsync()
    {
        await OnSelectedPage(1);
        await base.OnInitializedAsync();
    }

    private void ToggleView()
    {
        viewMode = (viewMode == 0) ? 1 : 0;
    }

    private async Task OnFilterSelected(NotesFilterDto f)
    {
        filter = f;
        await OnSelectedPage(1);
    }

    private async Task OnSelectedPage(int page)
    {
        paginationContext.CurrentPage = page;
        await LoadNotesWithPagination();
    }

    private async Task LoadNotesWithPagination()
    {
        notes = null;

        filter.PageIdentifier = paginationContext.PageIdentifier;
        var httpResponse = await dataService.Post<NotesFilterDto, Result<List<NoteInfoDto>>>("api/notes/getfilter", filter );

        //filter.PageIdentifier.TotalPages = int.Parse(httpResponse.HttpResponseMessage.Headers.GetValues("totalPages").FirstOrDefault());

        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            paginationContext.TotalCount = httpResponse.Response.Count;
            notes = httpResponse.Response.Entity;
        }
    }


    private async Task OnConfirmDelete()
    {
        modalDialog.Hide();

        var httpResponse = await dataService.Delete($"api/notes/{itemDelete.NoteId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            await LoadNotesWithPagination();
        }

        itemDelete = null;
    }

    private void OnCancelDelete()
    {
        modalDialog.Hide();
        itemDelete = null;
    }

    private void GoNoteDelete(NoteInfoDto item)
    {
        modalDialog.Show();
        itemDelete = item;
    }

    void GoNoteNew()
    {
        navigationManager.NavigateTo($"notes/new/filter");
    }

    void GoNoteView(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/{note.NoteId}/filter");
    }

    void GoNoteEdit(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/edit/{note.NoteId}/filter");
    }

}
