@page "/attributes/edit/{AttributeId}"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManger
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Admin")]

<h3>Attribute Edit</h3>
<hr />

@if (kattribute != null && showForm)
{
    <AttributeForm OnValidSubmit="Edit" KAttribute="kattribute" NoteTypes="noteTypes" />
}
else
{
    <text>Loading ... </text>
}

@code {
    [Parameter] public string AttributeId { get; set; }

    private KAttributeDto kattribute;
    private bool showForm = false;
    private List<NoteTypeInfoDto> noteTypes = new List<NoteTypeInfoDto>();

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await dataService.Get<Result<KAttributeDto>>($"api/kattributes/{AttributeId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
            navigationManger.NavigateTo("/");
        }
        else
        {
            kattribute = httpResponse.Response.Entity;
        }

        var httpResponse2 = await dataService.Get<Result<List<NoteTypeInfoDto>>>("api/notetypes");
        if (httpResponse2.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse2.GetBody());
            navigationManger.NavigateTo("/");
        }
        else
        {
            noteTypes = httpResponse2.Response.Entity;
            showForm = true;
        }
        
        await base.OnInitializedAsync();
    }

    private async Task Edit()
    {        
        var httpResponse = await dataService.Put("api/kattributes", kattribute);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            navigationManger.NavigateTo("attributes");
        }
    }


}
