@page "/users/edit/{UserId}"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManger
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Admin")]

<h3>User Edit</h3>

@if (user != null)
{
    <UserForm OnValidSubmit="Edit" User="user"></UserForm>
}
else
{
    <text>Loading ... </text>
}


@code {
    [Parameter] public string UserId { get; set; }

    private UserDto user;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await dataService.Get<Result<UserDto>>($"api/users/{UserId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
            navigationManger.NavigateTo("/");
        }
        else
        {
            user = httpResponse.Response.Entity;

            Console.WriteLine($"User loaded!! {user.UserId}");
        }

        base.OnInitialized();
    }

    private async Task Edit()
    {
        Console.WriteLine("Edit user");

        var httpResponse = await dataService.Put("api/users", user);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            //Console.WriteLine("User created !!");
            //await showMessages.ShowOkMessage("User saved!");
            navigationManger.NavigateTo("users");
        }
    }
}
