@page "/admin"

@using KNote.Client.Pages.Users
@using KNote.Client.Pages.Folders
@using KNote.Client.Pages.Attributes
@using KNote.Client.Pages.Types

@inject NavigationManager navigationManager

@attribute [Authorize(Roles = "Admin")]


<div class="container-fluid border">
    <div class="row">
        <KntIndexHeader TextHead="Admin panel">
        </KntIndexHeader>
    </div>
</div>

<div class="container-fluid pt-2">    

    <RadzenTabs TabPosition="TabPosition.Left">
        <Tabs>

            <RadzenTabsItem Text="&nbsp;Users managment" Icon="person" >
                <UsersIndex></UsersIndex>
            </RadzenTabsItem>

            <RadzenTabsItem Text="&nbsp;Folders managment" Icon="folder" >
                <FoldersIndex></FoldersIndex>
            </RadzenTabsItem>

            <RadzenTabsItem Text="&nbsp;Notes types" Icon="edit_attributes" >
                <TypesIndex></TypesIndex>
            </RadzenTabsItem>

            <RadzenTabsItem Text="&nbsp;Attributes managment" Icon="format_list_bulleted" >
                <AttributesIndex></AttributesIndex>
            </RadzenTabsItem>

        </Tabs>
    </RadzenTabs>

</div>


@code {


}
