@page "/admin"

@using KNote.Client.Pages.Users
@using KNote.Client.Pages.Folders
@using KNote.Client.Pages.Attributes
@using KNote.Client.Pages.Types

@inject NavigationManager navigationManager

@attribute [Authorize(Roles = "Admin")]

<h2>Admin panel</h2>

<div class="container-fluid ">
    <div class="row">
        <RadzenSplitter> 
             <RadzenSplitterPane Size="30%" Min="200px" Max="50%">   
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Folders managment</h5>
                        <p class="card-text">Manage the folders where you can structure the information. You can create, edit and update the system's folder tree.</p>                
                        <RadzenButton Click=@GoFoldersAdmin Text="Go folders admin" Icon="folder"/>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users managment</h5>
                        <p class="card-text">Manage the users of the system and the roles to which it belongs. You can create, edit and delete users as well as roles.</p>                
                        <RadzenButton Click=@GoUsersAdmin Text="Go user admin" Icon="person"/>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Types notes managment</h5>
                        <p class="card-text">Manage types of notes in the system. Types for notes and types for attributes</p>
                        <RadzenButton Click=@GoTypesAdmin Text="Go types admin" Icon="edit_attributes"/>                
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Attributes managment</h5>
                        <p class="card-text">Manage attributes of notes. You can create and modify new attributes for your notes.</p>                
                        <RadzenButton Click=@GoAttributesAdmin Text="Go attributes admin" Icon="format_list_bulleted"/>
                    </div>
                </div>
             </RadzenSplitterPane>

             <RadzenSplitterPane> 
         
                @if(_activePanel == "FoldersIndex")
                {
                    <FoldersIndex></FoldersIndex>
                }
                else if(_activePanel == "TypesIndex")
                {
                    <TypesIndex></TypesIndex>
                }
                else if(_activePanel == "AttributesIndex")
                {
                    <AttributesIndex></AttributesIndex>
                }
                else if(_activePanel == "UsersIndex")
                {
                    <UsersIndex></UsersIndex>
                }

             </RadzenSplitterPane>

        </RadzenSplitter> 

    </div>
</div>
 
@code {
    private string _activePanel = "FoldersIndex";

    void GoFoldersAdmin()
    {        
        _activePanel = "FoldersIndex";
    }

    void GoAttributesAdmin()
    {     
        _activePanel = "AttributesIndex";
    }

    void GoTypesAdmin()
    {     
        _activePanel = "TypesIndex";
    }

    void GoUsersAdmin()
    {     
        _activePanel = "UsersIndex";
    }

}
