@implements IDisposable

@inject IStore store


<h5>@store.AppState.SelectedFolder?.Name</h5>

@code {    
    
    #region  AppState changed subscription

    protected override void OnInitialized()
    {
        store.AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        store.AppState.OnChange -= StateHasChanged;
    }

    #endregion

}
