@inject AppStore appState

@implements IDisposable

<h5>@appState.SelectedFolder?.Name</h5>

@code {    

    #region  AppState changed subscription

    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }

    #endregion

}
