@typeparam TItem

@if (List == null)
{
    @if (Loading == null)
    {
        <RadzenLabel Text="Loading ..."/>
        <RadzenProgressBar  ProgressBarStyle="ProgressBarStyle.Light" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    }
    else
    {
       @Loading
    }
}
else if (List.Count == 0)
    {
    @if (Loading == null)
    {
        <p>No records found.</p>    
    }
    else
    {
        @NotRecordsFound
    }
}
else
{
    if(Item != null)
    {
        @foreach (var item in List)    
            @Item(item)
    }
    else
    {
        @AllItems
    }
}

@code {
    [Parameter] public List<TItem> List { get; set; } = null!;
    [Parameter] public RenderFragment Loading { get; set; } = null!;
    [Parameter] public RenderFragment NotRecordsFound { get; set; } = null!;
    [Parameter] public RenderFragment AllItems { get; set; } = null!;
    [Parameter] public RenderFragment<TItem> Item { get; set; } = null!;
}
