@typeparam TItem

@if (List == null)
{
    @if (Loading == null)
    {
        <RadzenLabel Text="Loading ..."/>
        <RadzenProgressBar  ProgressBarStyle="ProgressBarStyle.Light" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    }
    else
    {
       @Loading
    }
}
else if (List.Count == 0)
    {
    @if (Loading == null)
    {
        <p>No records found </p>    
    }
    else
    {
        @NotRecordsFound
    }
}
else
{
    if(Items != null)
    {
        @foreach (var item in List)    
            @Items(item)    
    }
    else 
        @ItemsFull
}

@code {
    [Parameter] public RenderFragment Loading { get; set; }
    [Parameter] public RenderFragment NotRecordsFound { get; set; }
    [Parameter] public RenderFragment<TItem> Items { get; set; }
    [Parameter] public RenderFragment ItemsFull { get; set; }
    [Parameter] public List<TItem> List { get; set; }
}
