@using System.IO

<div>
    <label>@Label</label>
    <div>
        <InputFile OnChange="LoadFile" />
    </div>
</div>

<div>
    @if (imgSrc != null)
    {
        <hr />
        <div>
            <div style="margin:10px">
                <img src="@imgSrc" style="width: @(imgWidth)px;" />
            </div>
        </div>
        <hr />
    }
    else
    {
        <p>...</p>
    }    
</div>

@code {
    [Parameter] public string Label { get; set; } = "Image";
    [Parameter] public EventCallback<KntFileInfo> OnSelectedFile { get; set; }
    [Parameter] public string ContentBase64 { get; set; }

    private KntFileInfo fileSelected;

    private string imgSrc;
    private int imgWidth = 50;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(ContentBase64))
        {
            imgSrc = "data:image/jpeg;base64, " + ContentBase64;
        }
        base.OnInitialized();
    }
   
    async Task LoadFile(InputFileChangeEventArgs e)    
    {
        foreach(var file in e.GetMultipleFiles())
        {
            using(var ms = new MemoryStream())
            {
                await file.OpenReadStream().CopyToAsync(ms);
            
                ContentBase64 = Convert.ToBase64String(ms.ToArray());

                fileSelected = new KntFileInfo
                    {
                        Name = file.Name,
                        Type = file.ContentType,
                        Size = file.Size,
                        LastModifiedDate = file.LastModified.DateTime,
                        ContentBase64 = ContentBase64
                    };

                if (fileSelected.Type == "image/jpeg")
                {
                    imgWidth = 400;
                    imgSrc = "data:image/jpeg;base64, " + ContentBase64;
                }
                else if (fileSelected.Type == "application/pdf")
                {
                    imgWidth = 50;
                    imgSrc = @"https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg";
                }
                else
                    imgSrc = @"https://img.icons8.com/ios/50/000000/document-1.png";

                await OnSelectedFile.InvokeAsync(fileSelected);
                StateHasChanged();
            }            
        }
    }
}
