@inject AppState appState

@implements IDisposable

@if (ShowRefreshTree)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h5>Folders catalog</h5>
            </div>
            <div class="col-2 float-right">
                <button class="btn btn-sm btn-success mb-0 float-right"
                        @onclick="OnRefreshTreeFolders"
                        data-toggle="tooltip" title="Refresh tree folders">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>
    </div>
    <hr class="mt-1" />
}

<KntFoldersTreeNode FoldersInfo="@FoldersInfo"
                    FolderSelected="OnFolderSelected"
                    EditMode="EditMode"
                    FolderDelete="OnFolderDelete"
                    FolderEdit="OnFolderEdit">
</KntFoldersTreeNode>

@code {    

    [Parameter] public List<FolderDto> FoldersInfo { get; set; }
    [Parameter] public EventCallback<FolderDto> FolderSelected { get; set; }
    [Parameter] public EventCallback<FolderDto> FolderDelete { get; set; }
    [Parameter] public EventCallback<FolderDto> FolderEdit { get; set; }
    [Parameter] public EventCallback RefreshTreeFolders { get; set; }
    [Parameter] public bool EditMode { get; set; }
    [Parameter] public bool ShowRefreshTree { get; set; }

    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;

        base.OnInitialized();
    }

    public void Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }

    protected async Task OnFolderSelected(FolderDto folder)
    {
        await FolderSelected.InvokeAsync(folder);
    }

    private async Task OnFolderDelete(FolderDto folder)
    {
        await FolderDelete.InvokeAsync(folder);
    }

    private async Task OnFolderEdit(FolderDto folder)
    {
        await FolderEdit.InvokeAsync(folder);
    }

    private async Task OnRefreshTreeFolders()
    {
        await RefreshTreeFolders.InvokeAsync(null);
    }

}