@inject AppState appState

@implements IDisposable

@if (ShowRefreshTree)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h5>Folders catalog</h5>
            </div>
            <div class="col-2 float-right">
                <button class="btn btn-sm btn-success float-right"
                        @onclick="OnRefreshTreeFolders"
                        data-toggle="tooltip" title="Refresh tree folders">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>
    </div>
    <hr class="mt-1" />
}

@*Expanded=@ShouldExpand *@

<RadzenTree Data=@FoldersInfo  Change=@OnChange>
    <RadzenTreeLevel 
        TextProperty="Name" 
        ChildrenProperty="ChildFolders"     
        Expanded=@ShouldExpanded 
        Selected=@ShouldSelected
        HasChildren=@(f => (f as FolderDto).ChildFolders.Any()) >
            <Template>       
                <RadzenIcon Icon="folder" Style="color: lightgray"/> @context.Text
           </Template>
    </RadzenTreeLevel>            
</RadzenTree>


@code {
    [Parameter] public List<FolderDto> FoldersInfo { get; set; }
    [Parameter] public EventCallback<FolderDto> FolderSelected { get; set; }
    [Parameter] public EventCallback<FolderDto> FolderDelete { get; set; }
    [Parameter] public EventCallback<FolderDto> FolderEdit { get; set; }
    [Parameter] public EventCallback RefreshTreeFolders { get; set; }
    [Parameter] public bool EditMode { get; set; }
    [Parameter] public bool ShowRefreshTree { get; set; }

    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;

        base.OnInitialized();
    }

    public void Dispose()
    {
        appState.OnChange -= StateHasChanged;
    }

    protected async Task OnFolderSelected(FolderDto folder)
    {
        await FolderSelected.InvokeAsync(folder);
    }

    private async Task OnFolderDelete(FolderDto folder)
    {
        await FolderDelete.InvokeAsync(folder);
    }

    private async Task OnFolderEdit(FolderDto folder)
    {
        await FolderEdit.InvokeAsync(folder);
    }

    private async Task OnRefreshTreeFolders()
    {
        await RefreshTreeFolders.InvokeAsync(null);
    }

    bool ShouldSelected(object data)
    {
        if(string.IsNullOrEmpty(appState.SelectedFolder.Name))
            return false; 
        
        var folder = data as FolderDto;
        return folder.Name == appState.SelectedFolder.Name;              
    }

    bool ShouldExpanded(object data)
    {
        if(appState.SelectedFolder == null)
            return false; 

        if(appState.SelectedFolder.ParentId == null)
            return false; 
        
        var folder = data as FolderDto;
        return folder.FolderId == appState.SelectedFolder.ParentId;              
    }

    async void OnChange(TreeEventArgs args)
    {
        var folder = args.Value as FolderDto;
        await FolderSelected.InvokeAsync(folder);        
    }

    RenderFragment<RadzenTreeItem> NodeFolderTemplate = (context) => builder =>
        {
            builder.OpenComponent<RadzenIcon>(0);
            builder.AddAttribute(1, "folder");
            builder.CloseComponent();        
            builder.AddContent(1, context.Text);
        };

}