<div class="col-6">
    <h4 class="mt-2">@TextHead</h4>
</div>
<div class="col-6">
    <span class="float-right">
        @if (IndexMenu == null)
        {
            <i>&nbsp;</i>     
        }
        else
        {
           @IndexMenu
        }
    </span>
</div>
@code {
    [Parameter] public string TextHead { get; set; }
    [Parameter] public RenderFragment IndexMenu { get; set; }
}
