@inject IGenericDataService  dataService
@inject IShowMessages showMessages
@inject AppState appState

@if (ShowDialog)
{
    <div class="modal-backdrop show"></div>

    <div class="modal fade show" id="resourceModal" tabindex="-1"
         role="dialog" aria-labelledby="resourceModalLabel"
         aria-hidden="true" style="display: block">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:600px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Title</h5>
                    <button @onclick="OnCancel" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="overflow-auto" style="height:400px">

                        <InputFileUpload Label="Upload generic file" OnSelectedFile="OnFileSelected" />

                        <div class="form-group">
                            <label>Description:</label>
                            <input type="text" class="form-control" @bind="@resource.Description" />
                        </div>
                        <div class="form-group">
                            <label>Order:</label>
                            <input type="text" class="form-control" @bind="@resource.Order" />
                        </div>

                        @if (resourceFlowControl == null)
                        {
                            <p>Upload file .... </p>
                        }
                        else if (resourceFlowControl != "0")
                        {
                            <p></p>
                        }

                    </div>
                </div>
                <div class="modal-footer">
                    <button @onclick="OnCancel" type="button" class="btn btn-secondary"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <button @onclick="_onConfirm" type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Title { get; set; } = "KaNote resource selector";
    [Parameter] public EventCallback<ResourceInfoDto> OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    private bool ShowDialog = false;
    private ResourceInfoDto resource;
    private string resourceFlowControl = "0";

    public void Show()
    {
        resource = new ResourceInfoDto();

        ShowDialog = true;
    }

    public void Hide() => ShowDialog = false;

    private void OnFileSelected(KntFileInfo file)
    {
        resourceFlowControl = null;

        resource.ContentBase64 = file.ContentBase64;
        resource.Name = file.Name;
        resource.Description = file.Name;
        resource.FileType = file.Type;
        resource.ContentInDB = appState.DefaultContentResourcesInDB;

        resourceFlowControl = "1";
    }

    private async Task _onConfirm()
    {
        await OnConfirm.InvokeAsync(resource);
    }
}