<AuthorizeView>
    <Authorized>
        <a href="Logout" class="nav-link btn btn-link">Log out</a>
        <RadzenLink Path="Logout" Text="Log out" /> ]
    </Authorized>
    <NotAuthorized>
        [ <RadzenIcon Icon="person" class="mr-1"/> 
        <a href="Register">Register</a>
        <a href="Login" class="nav-link btn btn-link">Login</a> ]
    </NotAuthorized>
</AuthorizeView>
