<AuthorizeView>
    <Authorized>
        [ <RadzenIcon Icon="person"/> <span>@context.User.Identity.Name</span> ]
        <a href="Logout" class="nav-link btn btn-link">Log out</a>
    </Authorized>
    <NotAuthorized>
        [ <RadzenIcon Icon="person"/> ]
        <a href="Register">Register</a>
        <a href="Login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>
