@inherits LayoutComponentBase

@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<RadzenLayout>

    <RadzenHeader>
        <ChildContent>
            <div class="row justify-content-start align-items-center">
                <div class="col-5 d-flex align-items-center">
                    <RadzenSidebarToggle Click="@SidebarToggle0Click" />                    
                    <RadzenLabel Text="KaNote" Style="font-size:large"/>                    
                </div>
                <div class="col-7 d-flex align-items-center justify-content-end">
                    <MainLayoutHeader />
                </div>
            </div>        
        </ChildContent>
    </RadzenHeader>

    <RadzenBody @ref="@body0">
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>

    <RadzenSidebar @ref="@sidebar0" >
        <ChildContent>
            <MainLayoutNavMenu />
        </ChildContent>
    </RadzenSidebar>

@*    <RadzenFooter>
      <ChildContent>
        <RadzenLabel Text="BlazorCustomPaging, Copyright Ⓒ 2020"  />
      </ChildContent>
    </RadzenFooter>*@

</RadzenLayout>

@code {

    RadzenSidebar sidebar0;
    RadzenBody body0;

    protected void SidebarToggle0Click(dynamic args)
    {
        sidebar0.Toggle();
        body0.Toggle();
    }
}