<div class="row">
    <div class="col-6">
        <RadzenLabel Text="@TextLeft" />
    </div>
    <div class="col-6 ">
        <span class="float-right">
            <RadzenLabel Text="@TextRight" />
        </span>
    </div>
</div>

@code{
    [Parameter] public string TextLeft { get; set; }
    [Parameter] public string TextRight { get; set; }
}