<EditForm Model="NoteType" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <label>Key:</label>
        <InputText class="form-control" @bind-Value="@NoteType.Key" />
        <ValidationMessage For="@(() => NoteType.Key)" />
    </div>
    <div class="form-group">
        <label>Name:</label>
        <InputText class="form-control" @bind-Value="@NoteType.Name" />
        <ValidationMessage For="@(() => NoteType.Name)" />
    </div>
    <button class="btn btn-success" type="submit">Save changes</button>
</EditForm>

@code {

    [Parameter] public NoteTypeDto NoteType { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
