@page "/types/new"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManger
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Admin")]

<h3>New Type</h3>
<hr />

<TypeForm OnValidSubmit="New" NoteType="noteType" />

@code {
    NoteTypeDto noteType = new NoteTypeDto();

    private async Task New()
    {        
        var httpResponse = await dataService.Post("api/notetypes", noteType);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {     
            navigationManger.NavigateTo("types");
        }
    }

}
