@page "/types/edit/{TypeId}"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManger
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Admin")]

<h3>Type Edit</h3>
<hr />

@if (noteType != null)
{
    <TypeForm OnValidSubmit="Edit" NoteType="noteType" />
}
else
{
    <text>Loading ... </text>
}


@code {
    [Parameter] public string TypeId { get; set; }

    private NoteTypeDto noteType;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await dataService.Get<Result<NoteTypeDto>>($"api/notetypes/{TypeId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
            navigationManger.NavigateTo("/");
        }
        else
        {
            noteType = httpResponse.Response.Entity;            
        }

        base.OnInitialized();
    }

    private async Task Edit()
    {        
        var httpResponse = await dataService.Put("api/NoteTypes", noteType);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            navigationManger.NavigateTo("types");
        }
    }

}
