@page "/"
@page "/index"

@using KNote.Client.Pages.Notes

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManager
@inject IShowMessages showMessages

@*@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]*@

<div>
    <h3>KNote home page</h3>
    <p><i>(@appState.AppName)</i></p>
    <hr />
    <NotesList Notes="notes" NoteDelete="OnNoteDelete" NoteEdit="OnNoteEdit" />
</div>

<ModalDialog @ref="modalDialog" Title="Delete user" onConfirm="OnConfirmDelete" onCancel="OnCancelDelete">
    <div><p>Are you sure you want to delete user "@itemDelete.Topic (@itemDelete.NoteNumber)" ?</p></div>
</ModalDialog>

@code {
    [CascadingParameter] private AppState appState { get; set; }

    private List<NoteInfoDto> notes;

    private ModalDialog modalDialog;
    private NoteInfoDto itemDelete;

    protected override async Task OnInitializedAsync()
    {
        await LoadNotes();
    }

    private async Task LoadNotes()
    {
        notes = null;
        var httpResponse = await dataService.Get<Result<List<NoteInfoDto>>>("api/notes/recentnotes");
        if (httpResponse.Error)
        {            
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
            notes = httpResponse.Response.Entity;
    }

    private void OnNoteEdit(Guid noteId)
    {
        navigationManager.NavigateTo($"notes/edit/{noteId}/index");
    }

    private void OnNoteDelete(NoteInfoDto item)
    {
        modalDialog.Show();
        itemDelete = item;
    }

    private async Task OnConfirmDelete()
    {
        modalDialog.Hide();

        var httpResponse = await dataService.Delete($"api/notes/{itemDelete.NoteId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            await LoadNotes();
        }

        itemDelete = null;
    }

    private void OnCancelDelete()
    {
        modalDialog.Hide();
        itemDelete = null;
    }

}
