@page "/"
@page "/index"

@using KNote.Client.Pages.Notes

@inject IKntClientDataService dataService

<div>
    <h3>Notes 4 !! </h3>
    <p>Mode: @appState.AppMode</p>
    <NotesList Notes="Notes" />
</div>


@code {

    [CascadingParameter] private AppState appState { get; set; }

    private List<NoteInfoDto> Notes;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        Notes = dataService.GetNotes();
    }

}
