@page "/notes/new"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManger
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Staff, ProjecManager, Admin")]

<h3>New note</h3>

@if (showForm)
{
    <NoteForm Note="note" OnValidSubmit="New" NoteTypes="noteTypes"></NoteForm>
}
else
{
    <text>Loading ... </text>
}

@code {

    private NoteDto note = new NoteDto();
    private bool showForm = false;
    private List<NoteTypeInfoDto> noteTypes = new List<NoteTypeInfoDto>();

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await dataService.Get<Result<List<NoteTypeInfoDto>>>("api/notetypes");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            noteTypes = httpResponse.Response.Entity;
            showForm = true;
        }

        // TODO: !!! Load attributes ... ??

        base.OnInitialized();
    }

    private async Task New()
    {

        Console.WriteLine($"URI: {navigationManger.Uri}");
        Console.WriteLine($"Executing new method - note.Topic => {note.Topic}");

        var httpResponse = await dataService.Post("api/notes", note);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            //Console.WriteLine("User created !!");
            //await showMessages.ShowOkMessage("User saved!");
            //navigationManger.NavigateTo("notes");
            navigationManger.NavigateTo("notes/tree");
        }
    }

}
