@page "/notes/tree"
@page "/tree"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManager
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h3>Notes tree</h3>
        </div>
        <div class="col-6 float-right">
            <button class="btn btn-sm btn-warning mx-1 float-right"
                    @onclick="GoNoteNew"
                    data-toggle="tooltip" title="New note">
                <i class="oi oi-bookmark"></i> New note
            </button>
        </div>
    </div>
</div>
<hr class="mt-0" />

<div class="row">

    <div class="col-lg-12 pt-2 bg-light border">
        @if (folder == null)
        {
            <h5>( ... no folder selected ...)</h5>
        }
        else
        {
            <div class="row">
                <div class="col-10">
                    <h5><span class="oi oi-folder pr-3"></span>@folder.Name</h5>
                </div>
                <div class="col-2">
                    @if(notes != null && notes.Count > 0)
                    {
                        <span class="float-right">
                            @if (viewMode == 0)
                            {
                                <button class="btn btn-sm btn-dark mx-1"
                                        @onclick="ToggleView"
                                        data-toggle="tooltip" title="Item mode view">
                                    <i class="fa fa-file-text-o"></i> Item mode view
                                </button>
                            }
                            else 
                            { 
                                <button class="btn btn-sm btn-dark mx-1"
                                        @onclick="ToggleView"
                                        data-toggle="tooltip" title="Table mode view">
                                    <i class="fa fa-table"></i> Table mode view
                                </button>
                            }
                        </span>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </div>
            </div>                
        }
    </div>

    <div class="col-lg-3 pt-2 pb-2 bg-light border">
        <KntFoldersTreeView FoldersInfo="foldersTree" FolderSelected="OnFolderSelected" />
    </div>
    <div class="col-lg-9 pt-2 pb-2 border">
        @if (viewMode == 0)
        {
            <NotesIndex Notes="notes" OnNoteDelete="GoNoteDelete" OnNoteEdit="GoNoteEdit" OnNoteView="GoNoteView"></NotesIndex>
        }
        else
        {
            <NotesList Notes="notes" OnNoteDelete="GoNoteDelete" OnNoteEdit="GoNoteEdit" OnNoteView="GoNoteView"/>
        }
    </div>
</div>

<ModalDialog @ref="modalDialog" Title="Delete note" onConfirm="OnConfirmDelete" onCancel="OnCancelDelete">
    <div><p>Are you sure you want to delete user "@itemDelete.Topic (@itemDelete.NoteNumber)" ?</p></div>
</ModalDialog>

@code {
    private List<FolderInfoDto> foldersTree;
    private FolderInfoDto folder;
    private ModalDialog modalDialog;
    private NoteInfoDto itemDelete;
    private int viewMode = 0;

    List<NoteInfoDto> notes;

    protected override async Task OnInitializedAsync()
    {
        var res = await dataService.Get<Result<List<FolderInfoDto>>>("api/folders/gettree");
        foldersTree = res.Response.Entity;

        if (foldersTree?.Count > 0)
        {
            var f = foldersTree.Select(x => x).FirstOrDefault();
            f.Selected = true;
            await OnFolderSelected(f);
        }
    }

    private void ToggleView()
    {
        viewMode = (viewMode == 0) ? 1 : 0;
    }

    private async Task OnFolderSelected(FolderInfoDto f)
    {
        folder = f;
        await LoadNotes();
    }

    private async Task LoadNotes()
    {
        notes = null;
        var httpResponse = await dataService.Get<Result<List<NoteInfoDto>>>("api/notes/GetByFolder/" + folder.FolderId.ToString());
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            notes = httpResponse.Response.Entity;
        }
    }

    private async Task OnConfirmDelete()
    {
        modalDialog.Hide();

        var httpResponse = await dataService.Delete($"api/notes/{itemDelete.NoteId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            await LoadNotes();
        }

        itemDelete = null;
    }

    private void OnCancelDelete()
    {
        modalDialog.Hide();
        itemDelete = null;
    }

    private void GoNoteDelete(NoteInfoDto item)
    {
        modalDialog.Show();
        itemDelete = item;
    }

    void GoNoteNew()
    {
        navigationManager.NavigateTo($"notes/new");
    }

    void GoNoteView(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/{note.NoteId}");
    }

    void GoNoteEdit(NoteInfoDto note)
    {
        navigationManager.NavigateTo($"notes/edit/{note.NoteId}/tree");
    }

}
