@page "/notes"

@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]

<h3>Notes Index</h3>
<hr />

<div class="form-group">
    <a class="btn btn-info" href="notes/new">New atrribute</a>
</div>

@code {

}
