@inject IJSRuntime js

@attribute [Authorize(Roles = "Public, Staff, ProjecManager, Admin")]

<div>
    <EntityList List="Notes">
        <Items Context="note">
            <NoteItem Note="note"
                      OnNoteDelete="onNoteDelete"
                      OnNoteEdit="onNoteEdit"
                      @key="note.NoteId" />
        </Items>
    </EntityList>
</div>

@code {
    [Parameter] public List<NoteInfoDto> Notes { get; set; }
    [Parameter] public EventCallback<NoteInfoDto> NoteDelete { get; set; }
    [Parameter] public EventCallback<Guid> NoteEdit { get; set; }

    //[Parameter] public bool EditMode { get; set; }


    private async Task onNoteDelete(NoteInfoDto note)
    {
        await NoteDelete.InvokeAsync(note);
    }

    private async Task onNoteEdit(Guid noteId)
    {
        await NoteEdit.InvokeAsync(noteId);
    }

}
