@page "/notes/edit/{NoteId}/{PageReturn}"

@inject IKntClientDataService  dataService
@inject NavigationManager navigationManager
@inject IShowMessages showMessages

@attribute [Authorize(Roles = "Staff, ProjecManager, Admin")]
@*<div class="kpage-header mb-0">
        <div class="col-3">
            <h3>Note edit</h3>
        </div>
        <div class="col-9 float-right">
            &nbsp;
        </div>
    </div>

    <hr class="mt-0" />*@

@if (showForm)
{
    <NoteForm Title="Note edit" Note="note" OnValidSubmit="Edit" NoteTypes="noteTypes"></NoteForm>
    @*<NoteForm Title="Note edit" Note="note" OnValidSubmit="Edit" ></NoteForm>*@
}
else
{
    <text>Loading ... </text>
}

@code {
    [Parameter] public string NoteId { get; set; }
    [Parameter] public string PageReturn { get; set; }


    private NoteDto note;
    private bool showForm = false;
    private List<NoteTypeInfoDto> noteTypes;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await dataService.Get<Result<NoteDto>>($"api/notes/{NoteId}");
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
            navigationManager.NavigateTo("/");
        }
        else
        {
            note = httpResponse.Response.Entity;
            showForm = true;
        }

        var httpResponse2 = await dataService.Get<Result<List<NoteTypeInfoDto>>>("api/notetypes");
        if (httpResponse2.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse2.GetBody());
            navigationManager.NavigateTo("/");
        }
        else
        {
            noteTypes = httpResponse2.Response.Entity;
            showForm = true;
        }

        if (PageReturn == null)
            PageReturn = "index";
        else if (PageReturn == "tree")
            PageReturn = "notes/tree";

        await base.OnInitializedAsync();
    }

    private async Task Edit()
    {
        var httpResponse = await dataService.Put("api/notes", note);
        if (httpResponse.Error)
        {
            await showMessages.ShowErrorMessage(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo(PageReturn);
        }
    }

}
